.her {
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center; /* centre horizontal */
    align-items: flex-end;   /* descend en bas */
    padding-bottom: 20px;    /* petit espace du bas */

}
.her .texte {
    background-color: rgba(0, 0, 0, 0.562);
    border-radius: 15px;
    padding: 20px 50px;
    max-width: 800px;
}

.her p {
    font-size: 18px;
    color: #fbfdfc;
}

/* ===========================
   RESPONSIVE MOBILE
=========================== */
@media (max-width: 768px) {
    .her {
        padding: 90px 20px 50px;
        align-items: flex-end; /* en bas */
        justify-content: center; /* centré horizontal */
    }

    .her .texte {
        position:absolute;
        padding: 20px;
        text-align: center; /* texte centré */
    }

    .her p {
        font-size: 14px;
        line-height: 1.6;
    }
}