/*banderole du haut*/
body {      
    background-color: #050e61f6;
    margin: 0;
}
.logo {                                  /*AMELIA YENGO du haut */
    font-size: 30px;
    color: #5eb857;
}
.banderole {                              /*banderole du haut */
    position: fixed;    
    width: 95%;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;                    /*20px=espace du haut & 60px=espace sur coté */
    z-index: 100;                          /* définir l’ordre d’empilement*/
}
.banderole-link {
    list-style: none;                     /*supprimer le style par défaut d'une liste,*/
    display: flex;
    gap: 40px;                            /*définir l’espace entre liens*/
}

.banderole-link a {
    text-decoration: none;
    font-size: 20px;
    color: #5eb857;
    font-weight: 700;
}


/* banderole du bas */
.motivation {
    width: 100%;                         /*la banderole du bas prend tout la longeur*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(22, 31, 55, 0.704);
    
}

.nav-links .img {
    text-decoration: none;
    width: 40px;
    height: 40px;
    object-fit: cover;
    margin: 10px;
    border-radius: 50%;

}

.motivation .bas {
    color: #5eb857;
}

.motivation .coucou {
    color: #ffffff;
}

.motivation .caca {
    color: #f9f2f9;

}


.hera {
    min-height: 100vh; 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    background-position: center;
}
.projet {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
}
.hera h3 {
    color: #7de461;
    font-size: 18px;
}
.hera img {
    width: 280px;
    height: 180px;
    object-fit: cover;
    border-radius: 20px;

}
.btn-projet {
    margin-top: 10px;
    padding: 10px;
    background-color: #38bdf8;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    transition: 1.5s;
}
.ima {
    min-height: 100vh;         
    display: flex;
    justify-content: center;    
    align-items: center;     
    gap: 60px;
    padding: 120px 80px;
}
.ima-img {
    width: 420px;
    height: auto;
    border-radius: 20px;
    object-fit: cover;
}
.imat {
    max-width: 600px;
    font-size: 16px;
    line-height: 1.7;
    color: #fbfbfb;
    background: rgba(0, 0, 0, 0.6);
    padding: 25px;
    border-radius: 15px;
}
